// Variables para colores y tamaños
$primary-color: crimson;
$hover-color: #e44848;
$background-color: #f0f0f0;
$text-color: #333;
$text-secondary-color: #888;
$border-radius: 8px;

// Dropdown
.dropdown {
  &:hover {
    .dropdown-menu {
      display: block;
    }
  }
}

.search-container {
  max-width: 600px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 25px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;

  .search-input {
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    outline: none;
    flex-grow: 1;
  }

  .search-button {
    background-color: $primary-color;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: $hover-color;
    }
  }
}

// Productos
.product-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  padding: 2rem;

  .product-card {
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: $border-radius;
    overflow: hidden;
    transition: transform 0.2s, box-shadow 0.2s;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    }

    .product-image {
      width: 100%;
      height: auto;
    }

    .no-image {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 150px;
      background-color: $background-color;
      font-size: 20px;
      color: $text-secondary-color;
      text-align: center;
    }

    .product-info {
      padding: 15px;
      text-align: center;

      .product-title {
        font-size: 18px;
        margin-bottom: 10px;
        color: $text-color;
      }

      .product-price {
        font-size: 16px;
        color: $text-secondary-color;
      }
    }
  }
}

// Logo
.logo {
  width: 500px;
  height: auto;
  transition: width 0.3s ease;
}

// Navbar
.navbar {
  .dropdown-menu {
    position: absolute;
    top: 100%;
    z-index: 1050;
    left: 0;
    right: 0;
  }

  .navbar-nav {
    .dropdown:hover .dropdown-menu {
      display: block;
    }
  }
}

@media (max-width: 576px) {
    .search-container {
      flex-direction: column;
  
      .search-input, .search-button {
        width: 100%;
        padding: 12px;
        font-size: 14px;
      }
    }
  
    .product-grid {
      grid-template-columns: 1fr; // Una sola columna
      gap: 15px;
    }
  
    .product-card {
      .product-info {
        font-size: 14px;
      }
    }
  
    nav .navbar-brand img {
      width: 30px; // Ajustar tamaño del logo
    }
  }
  
  // Para dispositivos medianos (pantallas de hasta 768px)
  @media (max-width: 768px) {
    aside {
        margin-bottom: 1-rem;
    }

    .search-container {
      .search-input, .search-button {
        font-size: 15px;
      }
    }
  
    .product-grid {
      grid-template-columns: repeat(2, 1fr); // Dos columnas
      gap: 20px;
      margin-top: 1rem;
    }
  
    .product-card {
      .product-info {
        font-size: 16px;
      }
    }
  
    nav .navbar-brand img {
      width: 35px;
    }
  }
  
  // Para dispositivos grandes (pantallas de hasta 992px)
  @media (max-width: 992px) {
    .product-grid {
      grid-template-columns: repeat(3, 1fr); // Tres columnas
    }
  
    .product-card {
      .product-info {
        font-size: 18px;
      }
    }
  }
  
  // Para pantallas extra grandes (a partir de 1200px)
  @media (min-width: 1200px) {
    .product-grid {
      grid-template-columns: repeat(5, 1fr); // Cinco columnas
    }
  }
